@media screen, print {
    body {
        margin: 0; padding: 0;
        background: #ffffff;
        font-family: Arial, Helvetica, sans-serif; font-size: 11px;
    }
    h1, h2, p, div {
        color: #a1a1a1;
    }

    .rel {
        position: relative;
    }
    .clear {
        clear: both;
    }
    #main {
        border: 1px solid #cccccc;
        position: relative;
        width: 648px; height: 738px;
        margin: 50px auto;
    }
    #wrapper {
        position: relative;
        padding: 57px 43px 79px 39px;
    }
    #num {
        border: 1px solid #cccccc;
        position: absolute; top: 39px; right: 43px;
        width: 43px; height: 15px; line-height: 16px; text-align: center;
        font-size: 9px;
    }
    .dates-header {
        border-top: 1px solid #cccccc;
        position: relative; float: left;
        width: 109px; height: 15px; line-height: 16px;
        font-size: 9px;
        margin-right: 19px;
    }
    .title-wrap {
        height: 37px;
        margin-bottom: 20px;
    }
    .title {
        position: relative; float: left;
        height: 37px; line-height: 37px;
        font-size: 11px;
    }
    .title span {
        color: #5f5f5f;
    }
    #square {
        border: 1px solid #cccccc;
        position: relative; float: right;
        width: 22px; height: 22px;
        margin-left: 32px;
    }
    .title-params {
        position: relative; float: right;
        width: 108px; height: 37px;
        margin-left: 20px;
    }
    .title-params .top {
        border-bottom: 1px solid #cccccc;
        position: relative;
        height: 20px; line-height: 28px;
        font-size: 11px; color: #000;
    }
    .title-params .down {
        font-size: 9px;
    }
    .data {
        border-collapse: collapse;
        border: 1px solid #cccccc;
    }
    .data tr td{
        border: 1px solid #cccccc;
        vertical-align: top;
    }
}